env: "local" # local, dev, prod
token:
  privateKeyPath: ./cert/private.pem
  accessLifetime: 3600s
  refreshLifetime: 432000s
grpc:
  addr: :50051
  writeTimeout: 15s
  name: authGrpc
http:
  addr: :8081
  name: authHttp
store:
  host: localhost
  port: 5432
  name: postgres
  user: postgres
  password: postgres
  sslMode: disable
  poolMaxConns: 10
  poolMaxConnLifeTime: 300s
  poolMaxConnIidleTime: 150s
scheduler:
  timeoutRemoveRefreshTokens: 86400s