env: "local" # local, dev, prod
token:
  secretPath: ./secret/rsa
  accessLifetime: 3600s
  refreshLifetime: 2592000s
api:
  addr: :50051
  writeTimeout: 15s
  name: SkillsRockAuth

postgreSql:
 host: localhost
 port: 5432
 name: postgres
 user: postgres
 password: postgres
 sslMode: disable
 poolMaxConns: 10
 poolMaxConnLifeTime: 300s
 poolMaxConnIidleTime: 150s